<!DOCTYPE HTML>
<html>
  <head>
    <title>Самые высокие здания и сооружения</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h3>Список зданий</h3>
    <table>
      <!-- формируем заголовок таблицы (имена столбцов) -->
      <thead>
        <tr>
          <!-- выводим имя каждого столбца -->
            {% for item in buildings_head %}
              <th> {{ item }} </th>
            {% endfor %}
          </tr>
      </thead>
      <tbody>
      <!-- для всех строк таблицы -->
        {% for row in buildings_body %}
          <tr>
          <!-- выводим значение каждого столбца -->
            {% for item in row %}
              <td> {{ item }} </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </body>
</html>