{% macro render_table(title, headers, rows, anchor) %}
    <a name="{{ anchor }}"></a>
    <h2>{{ title }}</h2>
    <table border="1">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="#top">Назад</a>
{% endmacro %}
